* {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Light";
}

@font-face {
  font-family: "Roboto-Light";
  src: url('font/Roboto-Light.ttf');
}

header,
div {
  text-align: center;

}

nav {
  margin: 2px 1%;
  border: 1px;
  border-radius: 5px;
  background-color: black;


}

nav#mnu1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: black;
  justify-content: space-around;
  display: flex;

}

nav#mnu1 ul li {
  float: right;
}

nav#mnu1 ul li:last-child {
  border-right: none;
}

nav#mnu1 ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;

}

nav#mnu1 ul li:hover>a {
  color: black;
  background-color: lightgray;
}

nav#mnu1 ul li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav#mnu1>ul li ul {
  width: 200px;
  background-color: black;
}

nav#mnu1>ul li ul li {
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  float: left;
}

nav#mnu1>ul li>ul {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav#mnu1>ul li:hover ul {
  display: block;
}

.a {
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 0 #D3D3D3, 2px 2px 0 #D3D3D3, 3px 3px 0 #D3D3D3;

}

.jumbotron {

  background-image: url(image/anna-sullivan-yxRYfsrdyWU-unsplash.jpg);
}

.col-sm-4:hover {
  opacity: 1;
}

.col-sm-4 img:hover {
  transform: scale(1.5);
  cursor: pointer;

}

.col-sm-4 img {
  width: 100%;
  height: 250px;
  display: block;
  transition: transform .5s;
}

.col-sm-4 {
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

.col-sm-6 img {
  width: 100%;
  height: 500px;
  display: block;
  transition: transform .5s;
}

.col-sm-6 {
  position: relative;
  overflow: hidden;
}

.col-sm-6:hover {
  opacity: 1;
}

.col-sm-6 img:hover {
  transform: scale(1.5);
  cursor: pointer;

}

.col-sm-3:hover {
  opacity: 1;
}

.col-sm-3 img:hover {
  transform: scale(1.5);
  cursor: pointer;

}

.col-sm-3 img {
  width: 100%;
  height: 250px;
  display: block;
  transition: transform .5s;
}

.col-sm-3 {
  position: relative;
  overflow: hidden;
}

.form-inline {
  float: left;

}

#menu-toggle {
  display: none;
  width: 72px;
  height: 72px;
  float: right;
  top: 0;
  right: 0;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  padding: 24px;
  float: right;
}

#menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-toggle span:nth-child(1) {
  top: 20px;
}

#menu-toggle span:nth-child(2) {
  top: 32px;
}

#menu-toggle span:nth-child(3) {
  top: 44px;
}

#menu-toggle.open span:nth-child(1) {
  top: 28px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menu-toggle.open span:nth-child(3) {
  top: 28px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 640px) {
  nav#mnu1>ul {
    display: none;
    position: absolute;
    height: 100vh;
    top: 88px;
    left: 0;
  }

  .menu-on nav#mnu1>ul {
    display: block;
  }

  nav#mnu1 ul li {
    width: 100%;
  }

  form {
    width: 100%;
  }

  #menu-toggle {
    display: block;
  }
}

#vadidate {
  background-image: url(image/jason-pofahl-rybshF0noeY-unsplash.jpg);

}

.benefits {
  font-size: 20px;
}